// Color palette
$color-white: #FFFFFF;
$color-black: #000000;
$color-blue: #0076bc;
$color-light-grey: #DDDDDD;
$color-dark: #808080;

// Define header
$background-header: $color-blue;
$color-text-header: $color-white;

// Define footer
$background-footer: $color-light-grey;
$color-text-footer: $color-dark;
