@import "../../../node_modules/normalize.css/normalize.css";
@import "settings/variables";

body {
    font-family: arial, sans-serif;
}

h1 {
    font-size: 1.6em;
}

.body-content {
    min-height: 70vh;
    padding: 0 10px;
}

// @import "../../../styles/settings/variables.scss";


// tablet version
@media (min-width: #{map-get($grid-breakpoints, 'sm')}) {
    .body-content {
        padding: 0 20px;
    }
}

// destop version
@media (min-width: #{map-get($grid-breakpoints, 'md')}) {
    .body-content {
        margin: 0 auto;
        max-width: calc(100vw - 200px);
        padding: 0;
    }
}
